<div class="card logPanel">
    <article class="card-body">
      <ngb-alert [dismissible]="true" [type]="alert.type" (close)="closeAlert()" *ngIf="alert.isShowAlert">
        {{ alert.message }}
      </ngb-alert>
      <h4 class="card-title text-center mb-4 mt-1">Sign up</h4>
      <hr />
      <form 
        #registrationForm="ngForm" 
        ngNativeValidate="true" 
        appCustomFieldValidator
        [firstField]="'password'"
        [secondField]="'confirmPassword'"
        (ngSubmit) = "submitRegistration()"
      >
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user-md"></i>
              </span>
            </div>
            <input
              #firstName="ngModel"
              [(ngModel)]="registrationViewModel.fName"
              name="fName"
              class="form-control col-md-10"
              placeholder="First Name"
              type="text"
              required="required"
              maxlength="50"
            />
            <i *ngIf="firstName.touched && firstName.valid" class="fa fa-smile-o font-yellow-color smile"></i>
            <i *ngIf="firstName.touched && firstName.invalid" class="fa fa-frown-o font-red-color smile"></i>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user-md"></i>
              </span>
            </div>
            <input
              #lastName="ngModel"
              [(ngModel)]="registrationViewModel.lName"
              name="lName"
              class="form-control col-md-10"
              placeholder="Last Name"
              type="text"
              maxlength="50"
            />
            <!-- <i *ngIf="lastName.touched && lastName.valid" class="fa fa-smile-o font-yellow-color smile"></i>
            <i *ngIf="lastName.touched && lastName.invalid" class="fa fa-frown-o font-red-color smile"></i> -->
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input
              #email="ngModel"
              [(ngModel)]="registrationViewModel.email"
              name="email"
              class="form-control col-md-10"
              placeholder="Email or login"
              type="email"
              required="required"
              pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
              appAlreadyExistsValidator
              [records]="records"
            />
            <i *ngIf="email.touched && email.valid" class="fa fa-smile-o font-yellow-color smile"></i>
            <i *ngIf="email.touched && email.invalid" class="fa fa-frown-o font-red-color smile"></i>
          </div>
          <span class="text-danger" *ngIf="email.touched && email.invalid && email.errors?.alreadyExists">
            Email Already Exists
          </span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input 
              #password="ngModel"
              [(ngModel)]="registrationViewModel.password"
              name="password" 
              class="form-control col-md-10" 
              placeholder="******" 
              type="password" 
              required="required"
              minlength="3"
              maxlength="50"
            />
            <i *ngIf="password.touched && password.valid" class="fa fa-smile-o font-yellow-color smile"></i>
            <i *ngIf="password.touched && password.invalid" class="fa fa-frown-o font-red-color smile"></i>
          </div>
          <span 
            class="text-danger" 
            *ngIf="password.touched && password.invalid && password.errors?.compareFieldValidator"
          >
            Field doesn't match
          </span>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input
              #confirmPassword = "ngModel"
              [(ngModel)]="registrationViewModel.confirmPassword"
              name="confirmPassword"
              class="form-control col-md-10"
              placeholder="******"
              type="password"
              required="required"
              minlength="3"
              maxlength="50"
            />
            <i *ngIf="confirmPassword.touched && confirmPassword.valid" class="fa fa-smile-o font-yellow-color smile"></i>
            <i *ngIf="confirmPassword.touched && confirmPassword.invalid" class="fa fa-frown-o font-red-color smile"></i>
          </div>
          <span 
            class="text-danger" 
            *ngIf="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors?.compareFieldValidator"
          >
            Field doesn't match
          </span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="registrationForm.invalid">
            Register
          </button>
          <button type="button" class="btn btn-primary btn-block">
            Clear
          </button>
        </div>
      </form>
      <p class="text-center">
        <a class="register" href="/">Login</a>
      </p>
    </article>
  </div>